<div class="card shadow-sm" style="width: 18rem;">
    <div class="card-img-top"></div>
    <div class="card-body">
        <h5 class="card-title">Bethany's Pie Shop</h5>
        <p class="card-text">A fullstack jQuery, SCSS, C#, and ASP.NET Core project where patrons can register new accounts, login, logout, add pies to shopping cart, and checkout, complete with navigation, authentication, and authorization.</p>
        <a href="https://bethanyspieshop20250119095858.azurewebsites.net/" class="btn btn-primary w-100">Visit</a>
    </div>
</div>