@page "/about"

<PageTitle>Bryce's Portfolio - About</PageTitle>

<h3>About</h3>
<p>I am Bryce Malmberg, one of two principal engineers collaborating on modern software initiatives for my department. Languages and technologies I know include C#, ASP.NET Core, T-SQL, JavaScript, NodeJS, React, Express, PSQL, HTML, and CSS.</p>

<p>Whenever I'm away from the office I study new technologies, code, and spend time with my two beautiful kids. I teach my five-year-old daughter piano, math, Chinese, and block coding.</p>

<p>Whenever I find spare time I tend to read, listen to audio books, exercise, as well as pursue other interests, including game development and design, writing, and coffee.</p>

@code {

}
