@page "/"

<PageTitle>Bryce's Portfolio - Home</PageTitle>

<h1>Home</h1>
<p>
    Welcome to my portfolio where I will keep all of the projects I am both working on and have completed. This is currently a work-in-progress.
</p>
