@page "/about"
@rendermode InteractiveWebAssembly

<PageTitle>Bryce's Portfolio - About</PageTitle>

<h3>About</h3>
<p>This is where I will place content about me - the developer of the site!</p>

@code {

}
